<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/app.css">
    <title>Form</title>
</head>
<body>
    <h1>Madlibs</h1>
    <form action="/story">
        <label for="">Story Choice</label>
        <select name="story-choice" id="">
            <option value="1">Story 1</option>
            <option value="2">Story 2</option>
            <option value="3">Story 3</option>
        </select>
        <div>
        <label for="place">place:</label>
        <input type="text" name="place">
        </div>
        <div>
        <label for="noun">noun:</label>
        <input type="text" name="noun">
        </div>
        <div>
        <label for="verb">verb:</label>
        <input type="text" name="verb">
        </div>
        <div>
        <label for="adjective">adjective:</label>
        <input type="text" name="adjective">
        </div>
        <div>
        <label for="plural">plural noun:</label>
        <input type="text" name="plural">
        </div>
        <button>Submit</button>
    </form>
</body>
</html> -->

{% extends 'base.html' %}

{% block title %} Madlib Form {% endblock %}

{% block content %} 
<body>
    <h1>Madlibs</h1>
    <form action="/story">
        <label for="">Story Choice</label>
        <select name="story-choice" id="">
            <option value="1">Story 1</option>
            <option value="2">Story 2</option>
            <option value="3">Story 3</option>
        </select>
        <div>
        <label for="place">place:</label>
        <input type="text" name="place">
        </div>
        <div>
        <label for="noun">noun:</label>
        <input type="text" name="noun">
        </div>
        <div>
        <label for="verb">verb:</label>
        <input type="text" name="verb">
        </div>
        <div>
        <label for="adjective">adjective:</label>
        <input type="text" name="adjective">
        </div>
        <div>
        <label for="plural">plural noun:</label>
        <input type="text" name="plural">
        </div>
        <button>Submit</button>
    </form>
</body>
{% endblock %}